# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
devel/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# User Configs & Secrets (ОЧЕНЬ ВАЖНО: не залейте ваш токен!)
config.json
*.log

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
